body{
text-align:center;
font-family: 'Condiment', cursive;
width:400px, center;
background-image:url("bg.jpg");
background-repeat:no repeat;
background-size:100% auto;
}

form{
margin:0, auto;
}

#nume{
display:vlock;
}

#adresa{
display:float;
}
